.shot-card__slider,
.horizontal__slider {
  .swiper {
    padding-bottom: 64px;
    .swiper-scrollbar {
      height: 7px !important;
      width: 34% !important;
      left: calc(50% - 17%) !important;
      background: transparent !important;
      &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background: rgb(227, 219, 200);
        top: 3px;
        left: 0px;
        right: 0px;
      }
      .swiper-scrollbar-drag {
        cursor: pointer;
        background: transparent !important;
        &::before {
          content: "";
          position: absolute;
          height: 1px;
          width: 100%;
          background: rgb(0, 0, 0);
          top: 3px;
          left: 0px;
          right: 0px;
        }
      }
    }
  }
  .swiper-button-disabled {
    opacity: 0.2;
  }
}

.swiper_arrow {
  .swiper-button-prev {
    @apply cursor-pointer transition-all absolute top-[calc(50%+18px)] -translate-y-1/2 left-1 laptop:-left-[42px] lg-laptop:left-1 xl-laptop:-left-[42px] z-10;
    width: 32px;
    height: 32px;
    background-image: url("/icons/swiper_left.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    &::after {
      content: none;
    }
  }
  .swiper-button-next {
    @apply cursor-pointer transition-all absolute top-[calc(50%+16px)] -translate-y-1/2 right-1 laptop:-right-[42px] lg-laptop:right-1 xl-laptop:-right-[42px] z-10;
    width: 32px;
    height: 32px;
    background-image: url("/icons/swiper_right.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    &::after {
      content: none;
    }
  }

  &-large_carousel {
    .swiper-button-prev,
    .swiper-button-next {
      @apply top-[50%];
    }
  }
}

.horizontal__slider {
  .swiper-scrollbar {
    @apply container;
  }
}

.instagram_slider {
  .swiper {
    padding-bottom: 46px;
    .swiper-scrollbar {
      height: 7px !important;
      width: 34% !important;
      left: calc(50% - 17%) !important;
      background: transparent !important;
      &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background: rgb(227, 219, 200);
        top: 3px;
        left: 0px;
        right: 0px;
      }
      .swiper-scrollbar-drag {
        cursor: pointer;
        background: transparent !important;
        &::before {
          content: "";
          position: absolute;
          height: 1px;
          width: 100%;
          background: rgb(0, 0, 0);
          top: 3px;
          left: 0px;
          right: 0px;
        }
      }
    }
  }
}

.large__slider {
  .swiper-slide {
    transition: all 0.1s ease-in-out;
  }
  .swiper-slide-prev,
  .swiper-slide-next {
    opacity: 0.5;
  }
  &-mobile {
    .swiper {
      padding-bottom: 36px;
      .swiper-scrollbar {
        height: 7px !important;
        width: 34% !important;
        left: calc(50% - 17%) !important;
        background: transparent !important;
        &::before {
          content: "";
          position: absolute;
          height: 1px;
          width: 100%;
          background: rgb(227, 219, 200);
          top: 3px;
          left: 0px;
          right: 0px;
        }
        .swiper-scrollbar-drag {
          cursor: pointer;
          background: transparent !important;
          &::before {
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            background: rgb(0, 0, 0);
            top: 3px;
            left: 0px;
            right: 0px;
          }
        }
      }
    }
  }
}

.open_image_slider_control {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  .swiper-button-disabled {
    opacity: 0.4;
  }
  span {
    color: #fff;
    font-size: 17px;
  }
}
